.footer {
  width: 100%;
  height: 10vh;
  margin: auto;
  background-color: #2a4b5a;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    text-align: center;
  }
}
