* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f5f7fa;
  color: #f0fff4;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #f0fff4;
  font-size: 20px;
}

input {
  width: 750px;
  height: 50px;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9fafb;
  color: #0e4b1f;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  font-size: 17px;
}