.header {
  width: 100%;
  height: 10vh;
  margin: auto;
  padding: 2% 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a4b5a;
  color: #ffffff;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  &__item {
    transition: 0.5s;
    color: #ffffff;
  }

  &__item:hover {
    text-decoration: underline;
  }

  &__link {
    color: #ffffff;
  }
}

@media only screen and (min-width: 375px) and (max-width: 500px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px;
  }
}