.main {
  width: 100%;
  height: 80vh;
  margin: auto;
    padding: 2% 10%;
  display: flex;
  background-image: url("/images/gradiant.jpg");
  background-size: cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;

  &__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
  }

  &__name {
    text-transform: capitalize;
  }

  &__email {
    text-transform: lowercase;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
  }

  &__button {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
    background-color: #2a4b5a;
    color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    font-size: 22px;
    transition: all 0.3s;
  }

  &__button:hover {
    transform: scale(1.05);
  }
}

@media only screen and (min-width: 375px) and (max-width: 500px){
  input {
    width: 100%;
    margin: auto;
  }
}